<header class="header">
  <div class="container">
    <div class="header-container">
      <a class="logo header-logo" href="./index.html">yachtjet</a>
      <nav class="header-nav">
        <ul class="header-btn-list">
          <li class="header-btn-item">
            <a href="#about" class="header-btn-link first">About</a>
          </li>
          <li class="header-btn-item">
            <a href="#yachts" class="header-btn-link">Yachts</a>
          </li>
          <li class="header-btn-item">
            <a href="#reviews" class="header-btn-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <div class="header-icon-container">
        <ul class="header-icon-list">
          <li class="header-icon-item">
            <a href="https://www.instagram.com/goitclub/" class="icon-header">
              <svg class="social-icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-icon-item">
            <a href="https://www.youtube.com/c/GoIT" class="icon-header">
              <svg class="social-icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="header-icon-item">
            <a href="https://www.facebook.com/goITclub/ " class="icon-header">
              <svg class="social-icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button class="menu-btn" type="button">
        <svg class="menu-icon" width="28" height="28">
          <use href="/img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
