<div class="mobile-menu" data-menu>
  <div class="mobile-menu__header">
    <a href="./index.html" class="menu-logo">yachtjet</a>
    <button class="mobile-menu__close" data-menu-close>
      <svg width="28" height="28">
        <use href="img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="container mobile-menu-container">
    <nav class="mobile-menu__nav">
      <ul class="mobile-menu__list">
        <li><a href="#about" class="mobile-menu__link">ABOUT</a></li>
        <li><a href="#yachts" class="mobile-menu__link">YACHTS</a></li>
        <li><a href="#reviews" class="mobile-menu__link">REVIEWS</a></li>
      </ul>
    </nav>
    <ul class="mobile-menu__social">
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-icon"
          target="_blank"
        >
          <svg width="24" height="24">
            <use href="img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          class="social-icon"
          target="_blank"
        >
          <svg width="24" height="24">
            <use href="img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/goITclub/ "
          class="social-icon"
          target="_blank"
        >
          <svg width="24" height="24">
            <use href="img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
