.about-us-content {
  border-radius: 24px;
  max-width: 335px;
  margin: 0 auto;
  background-color: #fbfbfb;
  padding-top: 40px;
  margin-top: -59px;
}
.about-us-container {
  padding-left: 20px;
  padding-right: 20px;
}
.about-us-title {
  font-weight: 500;
  font-size: 28px;
  /* line-height: 28px; */
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  max-width: 295px;
  margin-bottom: 40px;
}

.about-us-list {
  max-width: 295px;
  margin-bottom: 40px;
}

.about-us-text-one {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 20px;
}

.about-us-text-two {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}

.about-us-img {
  border-radius: 24px;
  width: 100%;
  height: 390px;
  background-color: #0e1823;
}

@media screen and (min-width: 768px) {
  .about-us-content {
    max-width: 704px;
    gap: 50px;
    padding: 50px 0 0 0;
    align-items: start;
    margin-top: -67px;
  }
  .about-us-container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-us-title {
    max-width: 570px;
    font-size: 48px;
    margin-bottom: 50px;
  }

  .about-us-list {
    max-width: 389px;
    margin-bottom: 50px;
  }
  .about-us-text-one {
    font-size: 23px;
  }

  .about-us-text-two {
    font-size: 13px;
  }

  .about-us-img {
    width: 100%;
    height: 470px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-content {
    max-width: 1180px;
    margin-top: -35px;
  }
  .about-us-container {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
  }
  .about-us-title {
    max-width: 570px;
    font-size: 48px;
    margin-bottom: 0;
  }

  .about-us-list {
    max-width: 354px;
    margin-bottom: 100px;
  }

  .about-us-text-one {
    font-size: 23px;
  }
  .about-us-img {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-content {
    max-width: 1340px;
  }

  .about-us-list {
    max-width: 404px;
  }
  .about-us-img {
    width: 100%;
  }
}
