.advantages {
  padding-bottom: 80px;
}
.advantages-yacht {
  border-radius: 24px;
  background-color: #1b414b;
  max-width: 335px;
  height: 642px;
  padding: 80px 20px;
  margin-bottom: 20px;
}

.advantages-item {
  max-width: 295px;
  margin-bottom: 40px;
}

.advantages-header {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
}

.advantages-header::after {
  content: '';
  display: block;
  margin: 18px auto;
  border-radius: 18px;
  max-width: 295px;
  height: 2px;
  background: rgba(251, 251, 251, 0.1);
}

.advantages-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.8;
}

.advantages-image {
  border-radius: 24px;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 150px;
  }

  .advantages-yacht {
    border-radius: 24px;
    max-width: 704px;
    height: 424px;
    padding: 90px 32px;
    margin-bottom: 32px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 44px;
    justify-content: space-between;
  }
  .advantages-item {
    width: calc((100% - 32px) / 2);
    margin: 0;
  }
  .advantages-header {
    font-size: 32px;
  }

  .advantages-text {
    font-size: 13px;
    max-width: 275px;
  }
  .advantages-header::after {
    max-width: 304px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages {
  }
  .flex-cont {
    display: flex;
    justify-content: space-between;
  }
  .advantages-yacht {
    max-width: 716px;
    padding: 90px 50px;
    margin-bottom: 0;
  }

  .advantages-header {
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
  }

  .advantages-header::after {
    content: '';
    display: block;
    width: 100%;
    margin: 18px auto;
    border-radius: 18px;
    max-width: 280px;
    height: 2px;
    background: rgba(251, 251, 251, 0.1);
  }

  .advantages-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    opacity: 0.8;
  }
}
@media screen and (min-width: 1440px) {
  .advantages-yacht {
    max-width: 768px;
    padding: 90px 50px;
    margin-bottom: 0;
  }
  .advantages-header::after {
    max-width: 318px;
  }
  .advantages-item {
    max-width: 318px;
  }
}
