/* Загальні стилі */
/* body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

/* Контейнер мобільного меню */
.mobile-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #0E1823;
    transform: translateX(100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Заголовок меню (Логотип + кнопка закриття) */
.mobile-menu__header {
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 16px 20px 0 20px;

}

.logo {
    font-size: 14px;
    font-weight: Medium;
    color: #1B414B;
    padding-left: 20px;
}

/* Кнопка закриття */
.mobile-menu__close {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.mobile-menu__close svg {
    width: 28px;
    height: 28px;
    fill: #055545;
}

/* Навігаційне меню */
.mobile-menu-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.mobile-menu__nav {
    margin-top: 201px;
}

.mobile-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu__list li {
    text-align: center;
}

.mobile-menu__link {
    display: flex;
    justify-content: center;
    width: 91px;
    height: 40px;
    background-color: #1B414B;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 9px;
    font-weight: regular;
    border-radius: 8px;
    text-align: center;
    transition: background 0.3s ease;
    margin-bottom: 4px;
    align-items: center;
}

.mobile-menu__link:hover {
    background-color: #055545;
}

/* Соціальні іконки */
.mobile-menu__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    bottom: 40px;
    /* Відступ 40px від низу */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;}

    .social-icon svg {
        width: 24px;
        height: 24px;
        fill: #FFFFFF;
        transition: fill 0.3s ease;
    }

    /* Ефект при наведенні на соцмережі */
    .social-icon:hover svg {
        fill: #fbfbfb;
    }

    /* Медіаправило */
    @media screen and (min-width: 768px) {
        .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0E1823;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
            display: none;
        }
    }