.cont-out-yachts {
  padding: 40px 20px;
}
.yachts-title {
  display: flex;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 40px;
  color: #fbfbfb;
}
.yachts-list {
  display: flex;
  flex-wrap: wrap;
}
.yachts-item {
  border-radius: 24px;
  background: #fbfbfb;
  padding: 16px;
  padding-bottom: 32px;
}
.hidden-mobile,
.hidden-mobile-tablet {
  display: none;
}
.yachts-text {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  padding-top: 32px;
  border-bottom: 1px solid rgba(4, 3, 6, 0.1);
  margin: 0 auto;
  margin-bottom: 16px;
  align-items: center;
  flex-direction: row;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}
.cont-yachts-prise {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  white-space: nowrap;
  gap: 114px;
  margin: 0 auto;
  margin-right: 16px;
  margin-left: 16px;
}
.yachts-text-span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}
.yachts-list-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 6px;
}
.yachts-item-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}
.yachts-list-prise {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}
.yachts-item-prise {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
}
.btn-yachts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  padding: 14px 32px;
  width: 141px;
  height: 46px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .cont-out-yachts {
    padding: 75px 32px;
  }
  .yachts-title {
    padding-left: 27px;
    padding-right: 25px;
    font-size: 48px;
    text-align: center;
  }
  .yachts-text {
    font-size: 16px;
    line-height: 1.2;
    max-width: 272px;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap; /* Забороняє перенос тексту */
    overflow: hidden; /* Ховає текст, що виходить за межі контейнера */
    text-overflow: ellipsis; /* Додає три крапки замість прихованого тексту */
  }
  .yachts-text-span {
    font-size: 13px;
    line-height: 1.18;
    margin-left: 22px;
  }

  img {
    width: 100%;
  }
  .yachts-list {
    gap: 32px;
  }
  .hidden-mobile {
    display: block;
  }
  .yachts-item {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .cont-out-yachts {
    padding: 75px 49px;
  }
  .yachts-title {
    width: 714px;
    margin: 0 auto;
    margin-bottom: 75px;
  }

  .yachts-text {
    min-width: 313px;
  }
  .cont-yachts-prise {
    gap: 145px;
  }
  .hidden-mobile-tablet {
    display: block;
  }
  .yachts-list {
    gap: 25px;
  }
  .yachts-item {
    width: calc((100% - 50px) / 3);
  }
}
@media screen and (min-width: 1440px) {
  .cont-out-yachts {
    padding: 75px 100px;
  }
  .yachts-text {
    min-width: 328px;
  }
  .cont-yachts-prise {
    gap: 160px;
  }
}
