.rent-section {
  background-color: #0e1823;
  color: #fbfbfb;
}

.container-rent {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.rentyacht-img {
  border-radius: 24px;
}

.rent-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin: 0 auto 40px auto;
}

.rent-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-input,
.form-textarea {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 18px;
  color: #fbfbfb;
  background-color: transparent;
  font-size: 12px;
  line-height: 117%;
  font-weight: 400;
}
.form-input:focus,
.form-textarea:focus {
  border: 1px solid rgba(251, 251, 251, 0.5);
  outline: none;
}

.form-textarea {
  resize: none;
}

.form-input {
  width: 335px;
  height: 42px;
}

.button-form {
  border-radius: 15px;
  width: 122px;
  height: 46px;
  background: #1b414b;
  border: none;
  padding: 14px 44px;
  transition: all 0.3s ease;
}

.button-text {
  text-align: center;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
}

.button-form:hover {
  background: white;
  border: none;
}

.button-text:hover {
  color: black;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .rent-image {
    order: 3;
  }

  .rent-content {
    order: 1;
  }

  .rent-title {
    display: block;
  }

  .rent-form {
  }

  .form-textarea {
    height: 108px;
    width: 335px;
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 768px) {
  .rent-section {
  }
  .container-rent {
    gap: 100px;
    align-items: center;
  }

  .rent-image {
    order: 3;
  }

  .rent-content {
    order: 1;
    flex-direction: column;
  }

  .rent-title {
    font-size: 48px;
    margin: 0 auto 50px auto;
  }

  .rent-form {
  }

  .form-input {
    padding: 18px;
    width: 472px;
    height: 54px;
  }

  .form-text {
    font-size: 14px;
    line-height: 129%;
  }

  .form-textarea {
    padding: 18px;
    margin-bottom: 32px;
    width: 472px;
    height: 116px;
  }

  .button-form {
    width: 194px;
    height: 56px;
  }

  .button-text {
    font-size: 18px;
    line-height: 110%;
  }
}

@media screen and (min-width: 1280px) {
  .rent-section {
  }
  .container-rent {
    flex-direction: row;
    gap: 50px;
  }

  .rent-image {
    order: 0;
  }
  .rentyacht-img {
    height: 536px;
  }

  .rent-image img {
    display: block;
    object-fit: cover;
  }

  .rent-content {
    order: 1;
    flex: 1;
    align-items: flex-start;
  }

  .rent-title {
    font-size: 48px;
    text-align: left;
  }

  .rent-form {
  }
}

@media screen and (min-width: 1440px) {
  .container-rent {
  }
  .rent-image {
  }
  .rentyacht-img {
    width: 768px;
  }

  .rent-form {
    margin: 0;
  }
}
