.reviews-section {
    padding: 80px 20px;
}
.reviews-wrap {
    max-width: 100%;
}
.reviews-title {
    font-weight: 500;
    font-size: 28px; 
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    max-width: 335px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.reviews-text {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fbfbfb;
        opacity: 0.4;
        max-width: 335px;
        margin: 0 auto;
        margin-bottom: 40px;
}

.reviews-list {
    list-style-type: none;
}

.hidden {
    display: none;
}

.customers-photo {
    width: 58px;
}

.reviews-item {
    width: 100%;
    background-color: #fbfbfb;
    border-radius: 24px;
}

.photo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
}

.customers-text-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    flex-direction: column;
}

.customers-title {
    font-weight: 500;
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        text-align: center;
        color: #040306;
        margin-bottom: 8px;
}

.customers-descr {
    display: flex;
}

.customers-descr {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(4, 3, 6, 0.4);
}

@media sreen (min-width:768px) {
.reviews-section {
        padding: 150px 32px;
    }
    .reviews-title {
        font-size: 48px;
        max-width: 704px;
    }

    .reviews-text {
        font-size: 14px;
        line-height: 1.29;
        max-width: 571px;
        margin-bottom: 75px;
    }

    .hidden {
        display: block;
    }

    .hidden-tab {
        display: none;
    }

    .reviews-list {
        display: flex;
        gap: 32px;
        justify-content: center;
    }
}