.reviews-section {
  padding: 80px 20px;
}

.reviews-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 335px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.reviews-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
  max-width: 335px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.photo-wrap {
  margin-bottom: 24px;
}

.customers-photo {
  width: 56px;
  height: 56px;
}

.reviews-item {
  max-width: 335px;
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 32px 8px;
}

.photo-wrap {
  display: flex;
  justify-content: center;
}

.customers-text-wrap {
  padding: 0 8px;
}

.customers-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin-bottom: 8px;
}

.customers-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}

.hidden-tab,
.hidden-mob {
  display: none;
}

@media screen and (min-width: 768px) {
  .reviews-section {
    padding: 150px 32px;
  }

  .reviews-title {
    font-size: 48px;
    max-width: 704px;
  }

  .reviews-text {
    font-size: 14px;
    line-height: 1.29;
    max-width: 571px;
    margin-bottom: 75px;
  }

  .hidden-mob {
    display: block;
  }

  .hidden-tab {
    display: none;
  }

  .reviews-list {
    display: flex;
    gap: 32px;
    justify-content: center;
  }

  .reviews-wrap {
    max-width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-section {
    padding: 150px 50px;
    max-width: 1280px;
  }

  .reviews-title {
    max-width: 854px;
  }

  .hidden-tab {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-section {
    padding: 150px 100px;
    max-width: 1440px;
  }
}
